---
interface ICustomProps extends IGithubRepo {
  hideMore?: boolean;
}

import { Icon } from "astro-icon/components";
import getTextI18 from "../../utils/getTexti18";
const props = Astro.props as ICustomProps;

const { lang } = Astro.params as {
  lang: string;
};

const visit_web = await getTextI18(lang, "visit_web_btn");
const visit_repo = await getTextI18(lang, "visit_git_btn");
const view_more = await getTextI18(lang, "view_more");
---

<div
  class="shadow shadow-custom2 rounded-md px-4 py-2 flex flex-col gap-2 flex-auto bg-[#1a1a1a]"
>
  <h3
    class="text-center
  text-xl
  uppercase
  tracking-wide
  font-bold bg-white/10 py-1 rounded-md"
  >
    {props.name}
  </h3>
  <p class="bg-white/10 px-2 py-3 rounded-md text-justify">
    {props.description}
  </p>

  <div class="flex flex-col gap-2">
    <div
      class="flex gap-1 justify-center bg-white/10 py-2 rounded-md flex-wrap"
    >
      <div class="flex items-center flex-col gap-1">
        {
          (
            <a
              href={props.html_url}
              target="_blank"
              title={visit_repo}
              class="rounded-full flex items-center justify-center gap-1 px-2 py-1 text-btns transition-colors hover:bg-white/10"
            >
              <Icon name="lucide:github" class="mt-1" />
              Github
            </a>
          )
        }
        {
          props.homepage && (
            <a
              href={props.homepage}
              target="_blank"
              title={visit_web}
              class="rounded-full flex items-center justify-center gap-1 px-2 py-1 text-btns transition-colors hover:bg-white/10"
            >
              <Icon name="lucide:external-link" class="mt-1" />
              {visit_web}
            </a>
          )
        }

        {
          !props.hideMore && (
            <a
              href={`/${lang}/projects/${props.name}`}
              class="text-white hover:bg-custom/60 bg-custom px-2 py-1 rounded-lg"
            >
              {view_more}
            </a>
          )
        }
      </div>
    </div>
  </div>
</div>
