---
import { Icon } from "astro-icon/components";
import ContactLink from "./ContactLink.astro";
---

<footer class="w-full px-4 py-6 flex items-center flex-col gap-2">
  <p class="text-title">
    efrask.dev © {new Date().getFullYear()}, Built with Astro :)
  </p>

  <nav class="flex gap-2 flex-wrap justify-center">
    <ContactLink href="mailto:efrainschettini@gmail.com" showBg={false}>
      <Icon name="lucide:mail" class="mt-1" />
      efrainschettini@gmail.com
    </ContactLink>

    <ContactLink href="mailto:contacto@efrask.dev" showBg={false}>
      <Icon name="lucide:mail" class="mt-1" />
      contacto@efrask.dev
    </ContactLink>

    <ContactLink
      href="https://github.com/efrask7"
      target="_blank"
      showBg={false}
    >
      <Icon name="lucide:github" class="mt-1" />
      / efrask7
    </ContactLink>

    <ContactLink
      href="https://www.linkedin.com/in/efrask7"
      target="_blank"
      showBg={false}
    >
      <Icon name="lucide:linkedin" class="mt-1" />
      / efrask7
    </ContactLink>

    <ContactLink
      href="https://github.com/efrask7/efrask.dev"
      target="_blank"
      showBg={false}
    >
      <Icon name="lucide:code" class="mt-1" />
      / Source Code
    </ContactLink>
  </nav>
</footer>
