---
import { Icon } from "astro-icon/components";
import HeaderLink from "./HeaderLink.astro";
import UserHeader from "./react/header/User";
import getTextI18 from "../utils/getTexti18";
import LanguageSelector from "./LanguageSelector.astro";

const { lang } = Astro.params as {
  lang: string;
};

const projects = await getTextI18(lang, "projects");
const index = await getTextI18(lang, "index_page");
---

<header
  class="w-[90%] m-auto lg:w-[52rem] flex items-center justify-between fixed top-2 z-50 bg-[#0a0a0a] px-4 py-2 rounded-xl shadow-sm shadow-slate-400/50"
>
  <nav class="flex items-center gap-2 h-full">
    <HeaderLink href={`/${lang ?? ""}`} title={index} show_title={false}>
      <Icon name="lucide:home" />
    </HeaderLink>
    <HeaderLink href={`${lang ? `/${lang}` : ""}/projects`} title={projects} />
  </nav>

  <div class="flex items-center gap-2">
    <UserHeader lang={lang} client:only />
    <LanguageSelector />
  </div>
</header>
