---
import getGithubProjects from "../../actions/getGithubProjects";
import ProjectCard from "../../components/projects/ProjectCard";
import Layout from "../../layouts/Layout.astro";
import getTextI18 from "../../utils/getTexti18";
import getSupportedLangs from "../../utils/lang";

export function getStaticPaths() {
  return getSupportedLangs();
}

const { lang } = Astro.params as { lang: string };

const not_found = await getTextI18(lang, "projects_not_found");

const projects = await getGithubProjects();

const projects_filter = projects.filter((project) => project.description);

const visit_web = await getTextI18(lang, "visit_web_btn");
const visit_repo = await getTextI18(lang, "visit_git_btn");
const view_more = await getTextI18(lang, "view_more");
---

<script is:inline define:vars={{ projects }}>
  localStorage.setItem(
    "projects",
    JSON.stringify(projects.map((project) => project.name)),
  );
</script>

<Layout>
  <section>
    {
      projects.length === 0 && (
        <div class="flex flex-col gap-2 items-center">
          <h2 class="text-custom font-bold text-xl font-montserrat">
            {not_found}
          </h2>
          <img
            src="https://http.cat/images/404.jpg"
            alt="Cat 404"
            class="w-96 rounded-lg"
          />
        </div>
      )
    }

    <div class="flex flex-wrap gap-6">
      {
        projects_filter.map((project) => (
          <ProjectCard
            {...project}
            lang={lang}
            visit_web={visit_web}
            visit_repo={visit_repo}
            view_more={view_more}
          />
        ))
      }
    </div>
  </section>
</Layout>
