---
import { Icon } from "astro-icon/components";
import mySkills from "../../data/skills.json";
import ImagesCarrousel from "../react/ImagesCarrousel";
import SkillWithTooltip from "../SkillWithTooltip.astro";
import getTextI18 from "../../utils/getTexti18";
const { name, description, technologies, github, website, imagesPath, images } =
  Astro.props as {
    name: string;
    description: string;
    technologies: string[];
    github: string;
    website?: string;
    imagesPath: string;
    images: string[];
  };

const { lang } = Astro.params as {
  lang: string;
};

const visit_web = await getTextI18(lang, "visit_web_btn");
const visit_repo = await getTextI18(lang, "visit_git_btn");
---

<div
  class="shadow shadow-custom2 rounded-md px-4 py-2 flex flex-col gap-2 w-full bg-[#1a1a1a]"
>
  <h3
    class="text-center
  text-xl
  uppercase
  tracking-wide
  font-bold bg-white/10 py-1 rounded-md"
  >
    {name}
  </h3>
  <p class="bg-white/10 px-2 py-3 rounded-md">{description}</p>

  <ImagesCarrousel path={imagesPath} images={images} client:load />

  <div class="flex flex-col gap-2">
    <div
      class="flex gap-1 justify-center bg-white/10 py-2 rounded-md flex-wrap"
    >
      {
        technologies.map((skill) => (
          <SkillWithTooltip
            title={skill}
            icon={
              mySkills.find(
                (s) => s.title.toLowerCase() === skill.toLowerCase(),
              )?.icon
            }
          />
        ))
      }
    </div>

    <div class="flex items-center flex-col gap-1">
      {
        github && (
          <a
            href={github}
            target="_blank"
            title={visit_repo}
            class="rounded-full flex items-center justify-center gap-1 px-2 py-1 text-btns transition-colors hover:bg-white/10"
          >
            <Icon name="lucide:github" class="mt-1" />
            Github
          </a>
        )
      }
      {
        website && (
          <a
            href={website}
            target="_blank"
            title={visit_web}
            class="rounded-full flex items-center justify-center gap-1 px-2 py-1 text-btns transition-colors hover:bg-white/10"
          >
            <Icon name="lucide:external-link" class="mt-1" />
            {visit_web}
          </a>
        )
      }
    </div>
  </div>
</div>
